<header><h1>demoGraphics</h1></header>
<form class="compare-form">
<section class="compare-container">
        <select id="state1"class="drop-down compare-state-selection" ng-init="ID1 = $ctrl.listOfStates[$ctrl.state1index]" ng-options="state.name disable when state.disabled for state in $ctrl.listOfStates" ng-model="ID1" ng-change="$ctrl.firstState(ID1.value)"></select>
        <section class="state-info">
                <p> <span id="desc">Population: </span>{{$ctrl.state1.totalPop}}</p>
                <p> <span id="desc">Area: </span>{{$ctrl.state1.landSizeAreaInMiles}}</p>
                <p> <span id="desc">Pop. Density: </span>{{$ctrl.state1.popPerSM}}</p>
        </section>
   </section>

        <!-- <section class="line"></section> -->
        <section class="chart-parent">
                <canvas id="myChart" width="300" height="200"></canvas>
        </section>
    <section class="compare-container">
         <select id="state2"class="drop-down compare-state-selection" ng-init="ID2 = $ctrl.listOfStates[$ctrl.state2index]" ng-options="state.name disable when state.disabled for state in $ctrl.listOfStates" ng-model="ID2" ng-change="$ctrl.secondState(ID2.value)"></select>
        <section class="state-info">
                <p> <span id="desc">Population: </span>{{$ctrl.state2.totalPop}}</p>
                <p> <span id="desc">Area: </span>{{$ctrl.state2.landSizeAreaInMiles}}</p>
                <p> <span id="desc">Pop. Density: </span>{{$ctrl.state2.popPerSM}}</p>
        </section>
        
</section>
<input type="reset" class="back drop-down" ng-click="$ctrl.changePath();" value="Back">
</form>
<footer>
        <p>demoGraphics</p>
    </footer>