<h1>demoGraphics</h1>
<section class="map-parent">
    <div id="map"></div>
</section>
<button class="ng-hide" ng-click="$ctrl.hideButton();"><i class="material-icons">reply</i></button>

<section class="parent">
    <select class="drop-down" ng-model="API" ng-change="$ctrl.getCensusData(API)">
        <option value="1" selected>State Population</option>
        <option value="2">State Population: by Race</option>
        <option value="3">State Population: by Age</option>
    </select>

    <label id="sliderLabel">
        <input class="slider" type="range" min="1990" max="2010" step="10" />
        <div>
            <span>1990</span>
            <span>2000</span>
            <span>2010</span>
        </div>
    </label>
    
    <h3 id="legendLabel">{{$ctrl.legendTitle}}</h3>
    <section class="legend">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </section>
<!-- 
    <select class="drop-down" ng-model="" ng-change="">
            <option value="1">State Population</option>
            <option value="2">State Population: by Race</option>
            <option value="3">State Population: by Age</option>
    </select>

    <select class="drop-down" ng-model="" ng-change="">
            <option value="1">State Population</option>
            <option value="2">State Population: by Race</option>
            <option value="3">State Population: by Age</option>
    </select> -->

    <select class="drop-down" ng-model="state" ng-change="">
            <option value="" disabled selected>Select State</option>
            <option value="1">Alabama</option>
            <option value="2">Alaska</option>
            <option value="3">Arizona</option>
            <option value="4">Arkansas</option>
            <option value="5">California</option>
            <option value="6">Colorado</option>
            <option value="7">Connecticut</option>
            <option value="8">District of Columbia</option>
            <option value="9">Delaware</option>
            <option value="10">Florida</option>
            <option value="11">Georgia</option>
            <option value="12">Hawaii</option>
            <option value="13">Idaho</option>
            <option value="14">Illinois</option>
            <option value="15">Indiana</option>
            <option value="16">Iowa</option>
            <option value="17">Kansas</option>
            <option value="18">Kentucky</option>
            <option value="19">Louisiana</option>
            <option value="20">Maine</option>
            <option value="21">Maryland</option>
            <option value="22">Massachusetts</option>
            <option value="23">Michigan</option>
            <option value="24">Minnesota</option>
            <option value="25">Mississippi</option>
            <option value="26">Missouri</option>
            <option value="27">Montana</option>
            <option value="28">Nebraska</option>
            <option value="29">Nevada</option>
            <option value="30">New Hampshire</option>
            <option value="31">New Jersey</option>
            <option value="32">New Mexico</option>
            <option value="33">New York</option>
            <option value="34">North Carolina</option>
            <option value="35">North Dakota</option>
            <option value="36">Ohio</option>
            <option value="37">Oklahoma</option>
            <option value="38">Oregon</option>
            <option value="39">Pennsylvania</option>
            <option value="40">Rhode Island</option>
            <option value="41">South Carolina</option>
            <option value="42">South Dakota</option>
            <option value="43">Tennessee</option>
            <option value="44">Texas</option>
            <option value="45">Utah</option>
            <option value="46">Vermont</option>
            <option value="47">Virginia</option>
            <option value="48">Washington</option>
            <option value="49">West Virginia</option>
            <option value="50">Wisconsin</option>
            <option value="51">Wyoming</option>
    </select>

</section>

<h1>Data:</h1>

<section ng-repeat="item in $ctrl.datas track by $index">
    <p>{{item[0]}}  |  {{item[1]}}  |  {{item[2]}}  |  {{item[3]|| ""}}  |  %{{item[0]/$ctrl.total*100 || ""}}</p>
</section>

