<select ng-model="API" ng-change="$ctrl.getCensusData(API)">
    <option value="1">State Population</option>
    <option value="2">State Population: by Race</option>
    <option value="3">State Population: by Age</option>
</select>
<h4></h4>

<div id="map"></div>
<button ng-if="$ctrl.buttonVisible.value === true" ng-click="$ctrl.hideButton();">BACK</button>

<h1>Data:</h1>

<section ng-repeat="item in $ctrl.datas track by $index">
    <p>{{item[0]}}  |  {{item[1]}}  |  {{item[2]}}</p>
</section>

